// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "variables/{YOUR FILE NAME HERE}";
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//@import "components/{YOUR FILE NAME HERE}";
// Fonts
$font-content: 'Open Sans', sans-serif;
$font-title: 'Roboto Slab', serif;

$color-main: #b61b1b;
$color-chapters: #870d4e;
$color-symbols: #49138b;
$color-themes: #19227d;
$color-places: #004c3f;
$color-characters: #32681d;
$color-objects: #F9A825;
$color-location: #be350b;

$color-danger: #ff0000;
$color-warning:#ffa800;
$color-success: #02af03;

body {
  font: 100% $font-content;
}

h1, h2, h3, h4, h5, h6, {
  font-family: $font-title;
  margin-top: 0em;
}

p {
  font-size: 0.25rem;
}

.l-header {
  font-family: $font-title;
  .site-branding__logo {
    float: left;
  }
  .site-branding__name {
    a {
      color: black;
      text-decoration: none;
    }
    font-size: 2.5rem;
    margin-top: 0.5rem;
  }
  .site-slogan {
    font-family: $font-content;
  }
}

.menu {
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  background-color: white;
  font-family: $font-content;
  font-weight:bold;
  font-size: 1.5rem;
  ul {
    list-style-type: none;
    margin-left: 0.5rem;
  }
  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
  border-style: solid;
  border-width: 0rem 0rem 0.25rem 0rem;
  border-color: black;
  }
  .active{
    border-style: solid;
    border-width: 0rem 0rem 0.25rem 0rem;
    border-color: $color-main;
  }
}

.breadcrumb {
  font-family: $font-content;
  font-size: 1rem;
  padding: 0rem 0rem 0.5rem 1rem;
  color: black;
    a{
      color: black;
    }
}

.l-main {
  h1 {
    font-size: 2rem;
    padding-left: 1rem;
    //margin: 0em 0em 0em 2em;
  }
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.view-content {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content:center;
  align-items: stretch;
}

.c-cards-view1 {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0.4rem 0rem 0rem 0rem;
  border-color: black;
  box-shadow: 0 2.5px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
  width: 14rem;
  margin: 0.5rem;
  min-height: 20rem;
  flex:1 1 auto;
}
.c-card-quote {
  font-family: $font-title;
  font-size: 1.5em;
}
.field-type-taxonomy-term-reference{
    font-family: $font-content;
    font-size: 0.65em;
    margin: 0.75rem 0rem 0rem 0rem;
      a{
        font-size: 0.85em;
        letter-spacing: 0.09em;
        color: white;
        background-color: black;
        text-decoration: none;
        padding: 0.15rem 0.25rem 0.15rem 0.25rem;
        border-radius: 0.25rem;
      }
}
.c-card-category {
    a{

    }
    }
.c-card-themes {
    color: $color-themes;
    a{
      background-color: $color-themes;
    }
    }
.c-card-characters {
    color: $color-characters;
    a{
      background-color: $color-characters;
    }
    }
.c-card-places {
    color: $color-places;
    a{
      background-color: $color-places;
    }
    }
.c-card-objects {
    color: $color-objects;
    a{
      background-color: $color-objects;
    }
    }
.c-card-symbols {
    color: $color-symbols;
    a{
      color: black;
      background-color: $color-symbols;

    }
    }
.l-footer {
  display: block;
  min-height: 10rem;
  min-width: 10rem;
  padding: 0.5rem;
  background-color: white;
  font-family: $font-content;
  color: black;
  border-style: solid;
  border-width: 0.4rem;
  border-color: black;
  margin: 1rem;
  a {
    color:$color-objects;
  }

}
